<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.demo.board.mapper.BoardMapper">
 
    <select id="boardCount" resultType="int">
        SELECT count(*)
        FROM	COMMON 
    </select> 
    <select id="selectResidentPopulList" resultType="hashmap">
		SELECT  BASE_DATE baseDate
		        ,SGG_NM sggNm
		        ,NATIVE_M nativeM
		        ,NATIVE_F nativeF
		        ,FOREIGN_F foreignF
		        ,FOREIGN_M foreignM
		        ,HOUSE_POPUL housePopul
		        ,SENIOR_CITIZ seniorCitiz
		FROM    RESIDENT_POPULAR 
    </select> 
    <select id="selectDynamicData" resultType="hashmap">
    	SELECT   ITEM_ROW itemRow
		        ,ITEM item
		        ,VALUE value
		        ,ITEM_ID itemId
		FROM    BLOCK
    </select>
</mapper>

